body{
  background: pink; 
  display: flex;
  flex-direction: column;
}
*{
  cursor: none;

}
form{
  display: flex;
  flex-direction: column;
  width: 10rem;
  border: solid 1px;
  border-radius: 5px;

}

input, button{
  border: solid;
  border-radius: 5px;
  margin: 10px;
}

input, button, img{
  cursor: url(./custom.cur), default;
}
